body{
    background-color: #2E3440;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#heading{
    padding-left: 100px;
    padding-top: 50px;
    color: white;
}

#content{
    padding-right: 100px;
    font-size: 16px;
    color: white;
    padding-left: 115px;
    width: 50%;
    float: left;
    flex-direction: column;
    justify-content: space-between;
}

.navbar_main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar_li {
    float: left;
    /* border-right:1px solid #bbb; */
    padding: 2px;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4C566A;
    border-radius: 20px;
}

.active {
    border-radius: 20px;
    background-color: #A3BE8C;
}

#join_now{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: transparent;
    border-radius: 10px;
    padding: 15px;
    background-color: #A3BE8C;
    width: 100px;
    text-decoration: none;
    color: white;
}

.homepage_list{
    margin-bottom: 10px;
}

.firstname{
    padding: 10px;
    border: transparent;
    background-color: #4C566A;
    border-radius: 10px;
    font-size: 16px;
    width: 300px; /* Added this line to increase the width */
    margin-left: 5px;
    margin-bottom: 15px;
    color: white;
}

.firstname_title{
    margin-left: 20px;
    margin-bottom: 10px;
}

.custom_submit{
    font-size: 16px;
    padding: 10px;
    background-color: #5E81AC;
    color: white;
    border: transparent;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#join_now_content{
    padding-right: 100px;
    font-size: 16px;
    color: white;
    margin-left: 115px;
    /* float: left; */
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: space-between; */
    /* border: solid; */
}

.custom_fieldset{
    border: solid #D8DEE9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px; /* Rounded corners */
}

/* #dropdown{
    padding: 10px;
    background-color: #4C566A;
    color: white;
    border-radius: 10px;
    border: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

#dropdown{
    padding: 10px;
    border: transparent;
    background-color: #4C566A;
    border-radius: 10px;
    font-size: 16px;
    width: 300px; /* Added this line to increase the width */
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}